---
const { name } = Astro.props
---

<section>
	<h1 class='text-4xl font-bold mb-2'>{name}</h1>
	<p class='text-xl text-gray-600 mb-6'>프론트엔드 엔지니어</p>

	<hr class='w-24 my-4 border-gray-300' />

	<p class='text-base text-gray-500 mt-6'>zzzzm1n126@gmail.com · 010-4098-7587</p>

	<div class='mt-6 space-y-4'>
		<h3 class='text-xl text-gray-700'>
			안녕하세요 👋<br />
			 세상의 불편함을 해소하고자 하는 유지민입니다. <br />
			 복잡한 문제들을 효율적이고 단순하게 해결하고자 노력합니다.
		</h3>
	</div>

	<div class='mt-6 space-y-4'>
		<p class='text-gray-700'>
			🔍 단순한 기술적 개선뿐만 아니라, 서비스의 개선에도 깊은 관심을 기울이며, <br /> 팀원들과
			원활한 협업과 소통을 통해 사용자 경험을 최우선으로 고려한 개발을 지향합니다.
		</p>
		<p class='text-gray-700'>
			🚀 변화에 유연하게 적응하고 혁신적인 아이디어를 수용하며, <br /> "왜?"라는 질문을 통해 문제의
			근본 원인을 찾고 해결해 나갑니다.
		</p>
	</div>
</section>
