---
const { name } = Astro.props
---

<section>
	<h1 class='text-4xl font-bold mb-2'>{name}</h1>
	<p class='text-xl text-gray-600 mb-6'>프론트엔드 엔지니어</p>

	<hr class='w-24 my-4 border-gray-300' />

	<p class='text-base text-gray-500 mt-6'>zzzzm1n126@gmail.com · 010-4098-7587</p>

	<div class='mt-6 space-y-4'>
		<h3 class='text-xl text-gray-700'>
			안녕하세요 👋<br />
			 세상의 불편함을 해소하고자 하는 유지민입니다. <br />
			 복잡한 문제를 단순하고 효율적으로 플어내는 걸 좋아합니다.
		</h3>
	</div>

	<div class='mt-6 space-y-4'>
		<p class='text-gray-700'>
			🚀 단순히 기능만 구현하는 것이 아니라, 서비스 전반을 더 나아지게 만드는 데 관심이 많고, <br />
			동료들과 함께 고민하며 결정해나가는 과정을 소중하게 생각합니다.
		</p>
		<p class='text-gray-700'>
			🔍 “왜?”라는 질문을 통해 문제의 근본 원인을 찾고 해결해 나갑니다.
		</p>
	</div>
</section>
