---
import type { Project } from '../lib/resume/career'

type Props = {
	projects: Project[]
}

const { projects }: { projects: Project[] } = Astro.props
---

<div>
	{
		projects.map((project) => (
			<div class='mb-4'>
				<h5 class='font-semibold'>{project.title}</h5>
				<p class='text-gray-600'>
					{project.beginAt} - {project.endAt || '현재'}
				</p>
				<p>{project.description}</p>
				<ul class='list-disc list-inside mt-2'>
					{project.role.map((role) => (
						<li>{role.description}</li>
					))}
				</ul>
				<p class='mt-2'>
					<strong>사용 기술:</strong> {project.techStack.join(', ')}
				</p>
			</div>
		))
	}
</div>
